
<!-- footer top border -->
<div class="footer-top-border">
    <div class="container">
        <div class="col-12">
            <div class="footer-top-singale" style="border: 3px solid #ED7D2B;"></div>
        </div>
    </div>
</div>
<!-- footer start  -->
<section class="footer">
    <div class="container">
        <div class="row pt-4 pb-4">
                <div class="col-lg-4"></div>
                <div class="col-lg-5 text-center">
                    <h6 class="fw-bold">
                        Save Time, save money !
                    </h6>
                    <small class="fw-lighter d-block mb-3">
                        Sign up and we'll send the best deals to you
                    </small>
                    <form action="./Database/subscriber_db.php" name="subscriber" method="POST" class="text-md-start">
                        <div class="email-subcribe"> 
                            <div class="row">
                                <div class="col-8" style="padding-right: 0">
                                    <div class="email-input">
                                        <input type="email" name="sub" id="sub"
                                            placeholder="write your email here...." class="form-control d-inline">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="subscribe-input">
                                        <button type="submit" class="btn btn-warning" style="background-color: #ED7D2B; border-radius: 5px;border-color: #fff;color: #fff">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="checkbox">
                            <input type="checkbox" name="check" id="check" class="mt-2 p-5">
                            <span>Send me a link to get the FREE Booking.com app!</span>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3"></div>
                <hr>
                <div class="col-lg-4">
                    <img src="./asset/image/logo/logo_white.png" alt="" width="125px" class="mb-3">
                    <p>
                        With over 2 million bookable vacation rentals, Vrbo connects homeowners with families and
                        vacationers
                        looking for something more than a hotel for their trip.
                    </p>
                    <table class="social-icon">
                        <tr>
                            <td style="background-color: #1882FF;margin-left: 5px">
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                            </td>
                            <td style="background-color: #60B0ED;margin-right: 5px">
                                <a href=""><i class="fab fa-twitter"></i></a>
                            </td>
                            <td style="background-color: #1B70C4">
                                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                            </td>
                            <td style="background-color: #ED7D2B">
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-2">
                    <h6 class="fw-bold mb-3">Support</h6>
                    <ul class="list-group" style="list-style: none">
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6 class="fw-bold mb-3">Community</h6>
                    <ul class="list-group" style="list-style: none">
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6 class="fw-bold mb-3">Hosting</h6>
                    <ul class="list-group" style="list-style: none">
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6 class="fw-bold mb-3">About</h6>
                    <ul class="list-group" style="list-style: none">
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                       <li> <a href="#">Help Center</a></li>
                    </ul>
                </div>
                <hr>
                <div class="col-lg-6 copyeright mt-2">
                    &copy; 2022 Findtel, Inc.
                    <li>.</li>
                    <li>Privacy</li>
                    <li>.</li>
                    <li>Terms</li>
                    <li>.</li>
                    <li>Sitemap</li>
                </div>
                <div class="col-lg-6 social_link mt-2">
                    <div class="text-center text-md-end">
                        <a href="#">
                            <img src="../asset/image/icon/facebook main.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../asset/image/icon/twitter main.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../asset/image/icon/linkedin main.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../asset/image/icon/youtube main.png" alt="">
                        </a>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- footer end  -->
